<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/resources/css/mainCss.css">
</head>
<body>
	<h1>게시판</h1>
	<form>
		<table>
			<tr>
				<th>아이디</th>
				<td><input type="text" name="memid"></td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="text" name="mempw"></td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="로그인">
					<button type="button" onclick="/member/registform">회원가입</button>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					ID, PW가 기억나지 않나요? <a href="#">ID 찾기</a>/<a href="#">PW 찾기</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>