<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.member">
	<select id="idchk" resultType="String">
		SELECT ID
		FROM COMMUNITYMEMBER
		WHERE ID=#{id}
	</select>
	
	<insert id="insertmem" parameterType="MemberDto">
		INSERT INTO COMMUNITYMEMBER
		VALUES(SEQ_CM.NEXTVAL, #{id}, #{pw}, #{name}, #{phone}, 'Y')
	</insert>
	
	<select id="loginmem" resultType="MemberDto">
		SELECT *
		FROM COMMUNITYMEMBER
		WHERE ID=#{id} AND PW=#{pw} AND ENABLED='Y'
	</select>
	
	<select id="selectmem" resultType="MemberDto" parameterType="int">
		SELECT *
		FROM COMMUNITYMEMBER
		WHERE NO=#{no}
	</select>
	
	<update id="deletemem" parameterType="int">
		UPDATE COMMUNITYMEMBER
		SET ENABLED='N'
		WHERE NO=#{no}
	</update>
	
	<update id="update" parameterType="MemberDto">
		UPDATE COMMUNITYMEMBER
		SET PW=#{pw}, NAME=#{name}, PHONE=#{phone}
		WHERE NO=#{no}
	</update>
</mapper>